@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p> Hey this is a containerezied .net application </p>
    <p> This is .net MVC app</p>
    <p> Hello World</p>
</div>
